body {
    font-family: Arial, sans-serif;
    background-color: #ffddf1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background: #fff1ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(140, 14, 152, 0.1);
    width: 500px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background: #652f6a;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2d052f;
}

.filters {
    display: flex;
    justify-content: space-between;
}

.filters button {
    width: 32%;
    background: #652f6a;
}

.filters button:hover {
    background: #2d052f;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

li button {
    background: #d9534f;
    width: auto;
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 12px;
}

li button.edit {
    background: #652f6a;
}

li button:hover {
    opacity: 0.8;
}